<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Feeddit App Articles</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div  th:if="${upvoteSuccessful}" class="text-center">
        <label class="text-center alert alert-success">
            <p>cvbnjkfhrdt</p>
        </label>
    </div>

    <div th:if="${not #lists.isEmpty(articles)}" >
           <h2>Article List</h2>

           <table class="table table-striped">
               <tr>
                <th>Article Id</th>
                <th>Headline</th>
                <th>Added on</th>
                <th>Votes</th>
                <th>Vote</th>
                <th>View</th>
                <th>Delete</th>
            </tr>
            <tr th:each="article : ${articles}">
                <td th:text="${article.id}"><a href="/article/${article.id}">Id</a></td>
                <td th:text="${article.headline}">Headline</td>
                <td th:text="${article.entryDate}">Added on</td>
                <td th:text="${article.votes}"> </td>
                <td><a th:href="${'/upvote/' + article.id}" >Upvote  </a>
                    <a th:href="${'/downvote/' + article.id}">Downvote </a></td>
                <td><a th:href="${'/article/' + article.id}">View</a></td>
                <td><a th:href="${'/article/delete/' + article.id}">Delete</a></td>
            </tr>
        </table>

    </div>
    <div th:if="${#lists.isEmpty(articles)}">
        <label class="alert alert-info">Trenutno nema članaka za prikaz.</label>
    </div>
</div>
</body>
</html>