<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Feeddit App Articles</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready( function ()
        {
            $.noConflict();
            $('#articletable').DataTable();
        } );
    </script>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css"/>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div  th:if="${upvoteSuccessful}" class="text-center">
        <label class="text-center alert alert-success">
            <p>cvbnjkfhrdt</p>
        </label>
    </div>

    <div th:if="${not #lists.isEmpty(articles)}" >
           <h2>Article List</h2>

           <table class="table table-striped" id="articletable">
               <thead>
               <tr>
                    <th>Headline</th>
                    <th>Link</th>
                    <th>Added on</th>
                    <th>Votes</th>
                    <th>Vote</th>
                    <th>View</th>
                </tr>
               </thead>
               <tbody>
            <tr th:each="article : ${articles}">
                <td th:text="${article.headline}">Headline</td>
                <td><a target="_blank" th:href="${article.link}"> Link </a></td>
                <td th:text="${article.entryDate}">Added on</td>
                <td th:text="${article.votes}">Vote </td>
                <td><a th:href="${'/upvote/' + article.id}" >Upvote  </a>
                    <a th:href="${'/downvote/' + article.id}">Downvote </a></td>
                <td><a th:href="${'/article/' + article.id}">View</a></td>
            </tr>
               </tbody>
        </table>

    </div>
    <div th:if="${#lists.isEmpty(articles)}">
        <label class="alert alert-info">Trenutno nema članaka za prikaz.</label>
    </div>
</div>
</body>
</html>